<div class="navbar">
    <div class="navbar-inner" style="padding-left: .25em;">
        <ul class="breadcrumb">
            <li>
            <a href="javascript:void(0);" title="{{= T('Show/Hide Sidebar')}}" data-toggle="tooltip">&nbsp;
                <i class="fa fa-arrow-circle-left hide-sidebar" style="display: inline-block;"></i>
                <i class="fa fa-arrow-circle-right show-sidebar" style="display: none;"></i>
            </a> <span class="divider">/</span>  
            </li>

            {{bc = session.get('breadcrumbs', {'items':[]})}}
            {{for i, (title, url) in enumerate(bc.items):}}
                {{if i+1 == len(bc.items):}}
                <li class="active">
                    {{= title}}
                {{else:}}
                <li>
                    <a href="{{= url}}">{{= title }}</a> <span class="divider">/</span>
                {{pass}}
                </li>                
            {{pass}}
        </ul>
    </div>
</div>

<!-- page alert -->
<div class="row-fluid">
{{for title, alert, alert_class in response.page_alerts:}}
    <div class="alert alert-{{= alert_class}}" style="margin-bottom: 0px; margin-top: 10px;" >
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>{{= XML(title)}}</h4>
        <p>{{= XML(alert)}}</p>
    </div>
{{pass}}
</div>
<!-- /page alert -->
