<div class="navbar">
    <div class="navbar-inner" style="padding-left: .25em;">
        <ul class="breadcrumb">
            <li>
            <a href="javascript:void(0);" title="{{= T('Show/Hide Sidebar')}}" data-toggle="tooltip">&nbsp;
                <i class="fa fa-arrow-circle-left hide-sidebar" style="display: inline-block;"></i>
                <i class="fa fa-arrow-circle-right show-sidebar" style="display: none;"></i>
            </a> <span class="divider">/</span>  
            </li>
            <li>
                <a href="#">#1</a> <span class="divider">/</span>    
            </li>
            <li>
                <a href="#">#2</a> <span class="divider">/</span> 
            </li>
            <li class="active">#3</li>
        </ul>
    </div>
</div>