{{extend 'layouts/main.html'}}

<div class="row-fluid">
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="brand pull-left">
                {{= response.title or ''}} <small>&nbsp;{{= response.subtitle or ''}}</small>
            </div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                <div>
                    {{block navbuttons}}

                    {{if request.args(0) == 'remove':}}
                    <a href="{{= URL(f=request.function, args=['delete', request.args(1)])}}"
                        class="btn btn-danger">{{=T('Confirm?')}}</a>
                    {{pass}}

                    {{end}}
                </div>
                <div class="row-fluid">
                    {{include}}
                </div>

            </div>
        </div>
    </div>
</div>

<!-- footer form -->
{{block footer_form}}
{{end}}
<!-- /footer form -->
