{{extend 'layouts/basic.html'}}

{{
    project_name = session.get('project', response.project_default)
    project = response.projects[project_name]
}}

<!-- begin navbar -->
{{include 'layouts/navbar.html'}}
<!-- end navbar -->

<div class="container-fluid">
    <div class="row-fluid">       

        <!-- begin sidebar -->
        {{block left_sidebar_main}}
        <div id="sidebar" class="span3">
            {{if project.get('sidebar'):}}
                {{include 'layouts/sidebar.html'}}
            {{pass}}
        </div>
        {{end}}
        <!-- end sidebar -->

        <div id="content" class="{{= 'span9' if project.sidebar else 'span12' }}">
            {{block breadcrumb}}
            {{include 'layouts/breadcrumb.html'}}
            {{end}}

            {{block center_main}}
            {{include}}
            {{end}}
        </div>
    </div>
</div>
<footer class="footer" id="footer">
    <div class="footer-content">
        {{block footer}} 
            <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
            <div id="poweredBy" class="pull-right">
                {{=T('Powered with')}}
                <a href="http://www.web2py.com/">web2py</a>
            </div>
        {{end}}
    </div>
</footer>
 
{{block head}}
    <link href="{{=URL('static','assets/select2-3.5.1/select2.css')}}" rel="stylesheet" media="screen">
{{end}}

{{block scripts}}
    {{super}} 

    <script src="{{=URL('static','assets/screenfull.js/screenfull.min.js')}}"></script>
    <script src="{{=URL('static','assets/select2-3.5.1/select2.min.js')}}"></script>
{{end}}
