{{extend 'layouts/basic.html'}}

<!-- Navbar ================================================== -->
<div class="navbar navbar-inverse">
	<div class="flash">{{=response.flash or ''}}</div>
	<div class="navbar-inner">
		<div class="container-fluid">
			{{is_mobile=request.user_agent().is_mobile}}
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="{{='display:none;' if not is_mobile else ''}}">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			{{=response.logo or ''}}
			<ul id="navbar" class="nav pull-right">{{='auth' in globals() and auth.navbar(mode="dropdown") or ''}}</ul>
			<div class="{{='nav-collapse' if is_mobile else 'nav'}}">
				{{if response.menu:}}
				{{=MENU(response.menu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}}
				{{pass}}
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div><!--/top navbar -->

<div class="container-fluid">
	<div class="row-fluid">
	{{
	left_sidebar_main = globals().get('left_sidebar_main',True)
	right_sidebar_main = globals().get('right_sidebar_main',False)
	if not globals().get('middle_columns_main',None):
		middle_columns_main = {0:'span12',1:'span10',2:'span7'}[(left_sidebar_main and 1 or 0)+(right_sidebar_main and 1 or 0)]
	pass
	}}
		
	{{if left_sidebar_main:}}
		<div class="span2">
			{{block left_sidebar_main}}
			{{include 'others/left_sidebar.html'}}
			{{end}}
		</div>
		{{pass}}

		<div class="{{=middle_columns_main}}">
			{{block center_main}}
			{{include}}
			{{end}}
		</div>

		{{if right_sidebar_main:}}
		<div class="span3">
			{{block right_sidebar_main}}
			<div class="well">
			<h3>Left Sidebar</h3>
			</div>
			{{end}}
		</div>
		{{pass}}
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<footer class="footer" id="footer">
			<div class="footer-content">
				{{block footer}} 
				<div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
				<div id="poweredBy" class="pull-right">
					{{=T('Powered with')}}
					<a href="http://www.web2py.com/">web2py</a>
				</div>
				{{end}}
			</div>
		</footer>
	</div>
</div>

{{block scripts}}
	{{super}}
	<script src="{{=URL('static','js/share.js-',vars=dict(static=URL('static','images')))}}"></script>
{{end}}
