<style type="text/css">
.popover {
    width:400px;
    height:350px;
    max-height: 350px;
}
</style>

<div class="onx-navbar">
    <div class="row-fluid">
        <div class="span3 logo">
            {{= response.logo}}
        </div>
        <div class="span2">
            <span class="label">{{= T('Project')}}</span>
            <div class="btn-group">
                <a href="javascript:void(0);" 
                    class="btn btn-small"
                    style="width:100px;"
                    data-toggle="dropdown">
                    <i class="fa fa-caret-right"></i>
                    {{= project.get('caption') }}
                </a>
                <ul class="dropdown-menu">
                {{for k in response.projects:}}
                    {{prj = response.projects[k]}}
                    {{if not prj.get('admin_required', False) or auth.has_membership(role=ADMIN_ROLE):}}
                    <li><a href="{{= prj.get('url')}}">{{= prj.get('caption')}}</a></li>
                    {{pass}}
                {{pass}}
                </ul>
            </div>
        </div>
        <div class="span7">
            <div class="row-fluid">
                <div class="span5"></div>


                <div class="span7">
                    <div class="pull-right">
                        <!-- begin search menu -->
                        <div class="pull-left">
                            <form>
                                <select id="menu_search" style="width:150px;">
                                    <option></option>
                                    {{for m in response.menu:}}
                                    <option value="{{= m[2] }}">{{= m[0] }}</option>
                                    {{pass}}
                                </select>
                            </form>
                        </div>
                        <!-- end search menu -->                    

                        <!-- begin activity button -->
                        <div class="pull-left">
                            <span>
                                <a href="javascript:void(0);" 
                                    class="btn btn-inverse" 
                                    id="a-activity">
                                    <i class="fa fa-flag"></i>
                                </a>
                            </span>
                        </div>
                        <!-- end activity button -->

                        <!-- begin user menu -->
                        <div class="pull-left">
                            <span>
                                <div class="btn-group">
                                    <a href="{{= URL(c='user', f='user', args=['profile'])}}" 
                                        class="btn btn-inverse">
                                        <i class="fa fa-user"></i>
                                        <span></span>
                                        {{= auth.user.first_name}}
                                    </a>
                                    <a href="javascript:void(0);" 
                                        class="btn btn-inverse"
                                        data-toggle="dropdown">
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{= URL(c='user', f='user', args=['profile'])}}">
                                            <i class="fa fa-user"></i>
                                            {{= T('Profile')}}</a>
                                            </li>
                                        <li><a href="{{= URL(c='user', f='user', args=['change_password'])}}">
                                            <i class="fa fa-lock"></i>
                                            {{= T('Password')}}</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="{{= URL(c='user', f='user', args=['logout'])}}">
                                            <i class="fa fa-power-off"></i>
                                            {{= T('Logout')}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </span>
                        </div>
                        <!-- end user menu -->

                        <!-- begin full screen button #screenfull.min.js -->
                        <div class="pull-left">
                            <span>
                                <a href="javascript:void(0);" 
                                    class="btn btn-inverse" 
                                    data-action="launchFullscreen" 
                                    title="{{= T('Full Screen')}}">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </span>
                        </div>
                        <!-- end full screen button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="div-activity" class="hide">

    <div class="tabbable">
        <ul class="nav nav-tabs" style="margin-bottom:4px;">
            <li class="active"><a href="#tab1" data-toggle="tab-activity-todo">{{= T('To-Do')}}</a></li>
            <li><a href="#tab2" data-toggle="tab-activity-msg">Msg</a></li>
            <li><a href="#tab3" data-toggle="tab-activity-notify">Notify</a></li>
        </ul>        
        <div class="tab-content">
            <div class="tab-pane active" id="tab-activity-todo">
                <div id="todo-content">
                </div>
            </div>
            <div class="tab-pane" id="tab-activity-msg">
                <p>Msg no implemented.</p>
            </div>
            <div class="tab-pane" id="tab-activity-notify">
                <p>Notify no implemented</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#a-activity').popover({
            trigger: 'manual',
            html: true,
            placement: 'bottom',
            content: function() {
                return $('#div-activity').html();
            },
        });

        $('#a-activity').click(function (e) {
            e.preventDefault();
            web2py_component("{{= URL(c='activity', f='todo_box.load') }}","todo-content");
            $(this).popover('show'); 
        });

        $("#menu_search").select2({
            placeholder: "{{= T('Search action')}}...",
            dropdownAutoWidth: true,
        });

        $("#menu_search").on("change", function(e) {
            var s = "http://{{= request.env.http_host}}"+ $(this).val();
            window.location = s;
            //window.location.reload(true);
        });    

        $('body').on('click', function (e) {
            $('#a-activity').each(function () {
                //the 'is' for buttons that trigger popups
                //the 'has' for icons within a button that triggers a popup
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });
    });
</script>  