    <div>
        <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
        {{toplinks = project.sidebar.toplinks}}
        {{for caption, url, icon in toplinks:}}
            <li><a href="{{= url}}">
                <i class="{{= icon }}"></i>&nbsp;
                {{= caption}}</a>
            </li>
        {{pass}}
        </ul>
    </div>

{{accordion_menu = project.sidebar.accordion_menu}}
<div class="accordion bs-docs-sidenav" id="accordion_menu">
    {{for caption, url, icon, items in accordion_menu:}}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_menu" href="#{{=url}}">
                <i class="{{= icon}}"></i>&nbsp;{{= caption}}
            </a>
        </div>
        <div id="{{= url}}" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                {{for kitem in items:}}
                    <li><a href="{{= kitem.url}}">
                        <i class="{{= kitem.icon }}"></i>&nbsp;{{= kitem.caption}}</a>
                    </li>
                {{pass}}
                </ul>
            </div>
        </div>
    </div>   
    {{pass}}
</div>
