{{extend 'layouts/form.html'}}


<div class="row-fluid">
    {{=form.custom.begin}}
    <table class="table table-condensed table-hover table-bordered" style="margin-top:5px;margin-bottom:5px;">
        <thead>
            <tr>
                <th class="select_col">
                <a id="select-all" 
                    class="btn btn-mini tooltip-bottom" 
                    data-original-title="{{= T('Select all')}}">
                    <i class="icon-check"></i></a>
                <a id="unselect-all" 
                    class="btn btn-mini tooltip-bottom" 
                    data-original-title="{{= T('Unselect all')}}">
                    <i class="icon-ban-circle"></i></a>
                </th>
                <th>{{= T('Name') }}</th>
            </tr>
        </thead>

        <tbody>
            {{ for k, d, m in content: }}
            <tr>
                <td class="select_col">
                    <input type="checkbox" style="margin:auto;" id="no_table_record_{{= k}}" name="record_{{= k}}"  value="{{= k}}" {{= 'checked="checked"' if m>0 else ''}}>
                </td>
                <td>
                    <label for="no_table_record_{{= k}}">
                        {{= d }}
                    </label>
                </td>
            </tr>
            {{pass}}
        </tbody>
    </table>
    {{=form.custom.submit}}
    {{=form.custom.end}}
</div>


<script type="text/javascript">
jQuery(function(){
    $('#select-all').click(function (event) {
        $(':checkbox').each(function () { this.checked = true; });
    });

    $('#unselect-all').click(function (event) {
        $(':checkbox').each(function () { this.checked = false; });
    });
    $('.tooltip-bottom').tooltip({ placement: 'bottom' });  
});
</script>