/*
Media query for responsive css tables
Idea from http://css-tricks.com/responsive-data-tables/
Author: Angelo Compagnucci <angelo.compagnucci@gmail.com>
*/
@media
only screen and (max-width: 700px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
        
    .resp-header {
        white-space: nowrap;
        position: absolute;
        width: 30%;
        padding-right: 10 px;
        left: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        z-index: 1;
    }

    div.resp-table table, 
    div.resp-table thead, 
    div.resp-table tbody, 
    div.resp-table th, 
    div.resp-table td, 
    div.resp-table tr {
        display: block;
    }

    div.resp-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    div.resp-table td {
        border: none;
        position: relative;
        padding: 0px 0px 0px 45%;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 60%;
    }
    
    div.resp-table form td {
        padding: 0px 0px 0px 0px;
        width: auto;
        overflow: visible;
        text-overflow: ;
    }
    
    div.resp-table tr { 
        border-bottom: 1px solid #eee; 
        margin-bottom: 3px;
    }
    
    div.resp-table form tr { 
        border-bottom: none; 
        margin-bottom: 0;
    }
    
    td.w2p_fl, td.w2p_fc {
        text-align: left;
    }
    
    .web2py_grid tbody td {
        padding: 0px 0px 0px 35%;
        text-align: left;
    }
    
    .web2py_grid .web2py_form td {
        padding: 0px 0px 0px 0px;
    }

    .web2py_htmltable tbody td {
        padding: 0px 0px 0px 35%;
        text-align: left;
    }
    
    .web2py_htmltable .web2py_form td {
        padding: 0px 0px 0px 0px;
    }    

    .web2py_htmltable .dropdown-menu {
        position: relative;
    }    
}
