{{extend 'layouts/main.html'}}

<style type="text/css">
    div.block-record {min-height:210px;}
    div.chart-view {height: 185px;}
</style>

<div class="row-fluid">
    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Sumary</div>
                <div class="pull-right"><span class="badge badge-info">752</span>

                </div>
            </div>
            <div class="block-record collapse in">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th></th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Quantidade de veiculos</td>
                            <td></td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>Media km / mes por caminhao</td>
                            <td></td>
                            <td>10.000km</td>
                        </tr>
                        <tr>
                            <td>total percorrido / mes</td>
                            <td></td>
                            <td>400.000km</td>
                        </tr>
                        <tr>
                            <td>custo combustivel / mes</td>
                            <td></td>
                            <td>$229.520,00</td>
                        </tr>
                        <tr>
                            <td>custo combustivel / ano</td>
                            <td></td>
                            <td>$2.754.240,00</td>
                        </tr>
                        <tr>
                            <td># meta</td>
                            <td>de</td>
                            <td>para</td>
                        </tr>
                        <tr>
                            <td>Consumo cumbustivel equipamento</td>
                            <td>2,40 km/l</td>
                            <td>2,448 km/l</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>

    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Orders</div>
                <div class="pull-right"><span class="badge badge-info">752</span>

                </div>
            </div>
            <div class="block-record collapse in">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Coat</td>
                            <td>02/02/2013</td>
                            <td>$25.12</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacket</td>
                            <td>01/02/2013</td>
                            <td>$335.00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Shoes</td>
                            <td>01/02/2013</td>
                            <td>$29.99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
