{{extend 'layouts/main.html'}}

<style type="text/css">
    div.block-record {min-height:210px;}
    div.chart-view {height: 185px;}
</style>

<div class="row-fluid">
    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">{{= PainelModel.company().name}}</div>
                <div class="pull-right"></div>
            </div>
            <div class="block-record collapse in">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>{{= T('Summary')}}</th>
                            <th>{{= T('Month')}}</th>
                            <th>{{= T('Year')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{for k in ['vehicle_count', 'distance_traveled', 'distance_traveled_by_vehicle', 'fuel_cost', 'fuel_cost_by_vehicle', 'maintenance_order', 'maintenance_order_by_vehicle']:}}
                        <tr>
                            {{summary_item = summary[k]}}
                            <td>{{= summary_item['text']}}</td>
                            <td>{{= summary_item['month'][0]}}</td>
                            <td>{{= summary_item['year'][0]}}</td>
                        </tr>
                        {{pass}}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>

    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">#</div>
                <div class="pull-right">

                </div>
            </div>
            <div class="block-record collapse in">

            </div>
        </div>
        <!-- /block -->
    </div>
</div>
