{{extend 'layouts/form.html'}}

{{= content}}


{{if request.args(0) in ['new', 'update']:}}
    <script type="text/javascript">
    jQuery(document).ready(function(){
        $("#vehicle_refueling_total_price").change(function() {
            var liter_price = $("#vehicle_refueling_liter_price").val();
            var value = $(this).val();
            var price = parseFloat(value / liter_price).toFixed(3);
            $("#vehicle_refueling_liters").val(price);
        });

    });
    </script>

{{pass}}