{{extend 'layouts/form.html'}}

{{block navbuttons}}
    {{super}}
    {{if request.args(0) in['new', 'update']:}}

    <div>
        <ul class="nav nav-pills">
            <li id="simple_view" class="active">
                <a href="#">{{=T('Simplified view')}}</a>
            </li>
            <li id="advanced_view" >
                <a href="#">{{=T('Advanced view')}}</a>
            </li>
        </ul>
    </div>
    {{pass}}
{{end}}

{{= content}}

{{block footer_form}}

{{if request.args(0) in['read']:}}
    {{children = globals().get('children', None) }}
    {{if children:}}
        {{for child in children:}}
            {{= child}}
        {{pass}}
    {{pass}}
{{pass}}

{{end}}


<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('div[id^="vehicle_bio_"]').hide();

    jQuery('#simple_view').click(function(){
        jQuery('#simple_view').attr('class','active');
        jQuery('#advanced_view').attr('class','inactive');
        jQuery('div[id^="vehicle_bio_"]').hide();
    });
    jQuery('#advanced_view').click(function(){
        jQuery('#advanced_view').attr('class','active');
        jQuery('#simple_view').attr('class','inactive');
        jQuery('div[id^="vehicle_bio_"]').show();
    });
});
</script>