{{extend 'layouts/form.html'}}
<style type="text/css">
textarea{
    width: 97%;
    --overflow: hidden;
    height: 20px;
}
td {width: 50%;}
</style>

{{= content}}

<script type="text/javascript">
$(document).ready(function() {

    $('textarea').autosize();

    $(".add-translate").click(function (){
        var parent = $(this).parent('div').parent('div');
        var text = $(parent).children('p').children('font');

        var item_id = $(this).attr("data-id");

        $("#key_"+item_id).val($(text).text());
    })

});
</script>


{{block scripts}}
  {{super}}
  <script src="{{=URL('static','assets/autosize/jquery.autosize.min.js')}}"></script>
{{end}}