<!-- Begin Tabs -->
<div style="margin:.25em;">
    <ul class="nav nav-tabs">
        <li class="{{= 'active' if request.function == 'index' else ''}}">
            <a href="{{= URL(c='tasks',f='index')}}">
                <div>
                    <i class="icon-bullhorn"></i>
                    <strong>{{= T('News Solicitations')}}</strong>
                </div>
                <div>
                    <small>{{= kSolicitations[1] }}</small>
                </div>
            </a>
        </li>
        <li class="{{= 'active' if request.function == 'my_tasks' else ''}}">
            <a href="{{= URL(c='tasks',f='my_tasks')}}">
                <div>
                    <i class="icon-tasks"></i>
                    <strong>{{= T('My Tasks')}}</strong>
                </div>
                <div>
                    <small>{{= kTasks[1] }}</small>
                </div>
            </a>
        </li>
        <li class="{{= 'active' if request.function == 'waiting_tests' else ''}}">
            <a href="{{= URL(c='tasks',f='waiting_tests')}}">
                <div>
                    <i class="icon-tasks"></i>
                    <strong>{{= T('Waiting Test')}}</strong>
                </div>
                <div>
                    <small>{{= kTests[1] }}</small>
                </div>
            </a>
        </li>
    </ul>
</div>
<!-- End Tabs -->