{{extend 'layouts/form.html'}}

{{ 
owner_table = record.owner_table
owner_key  = record.owner_key
}}

{{if record.owner_table == 'solicitation':}}
    {{= LOAD(f='solicitation_preview.load', vars=dict(oplink=record.owner_key), ajax=True)}}    
    <hr/>
{{pass}}

<div class="row-fluid">
    <div class="span8">
        <h3>{{= field_rep(db.task.status, record.status, record)}}
            <small> {{=  field_rep(db.task.platform_id, record.platform_id, record)}}</small>
        </h3>
    </div>
    <div class="span4">
        <div class="pull-right">
            <a href="{{= URL(c='tasks', f='task.html', args=['update', record.id])}}" class="btn btn-small"><i class="icon-pencil"></i>{{= T('Edit')}}</a>
            <a href="{{= URL(c='tasks', f='task.html', args=['delete', record.id])}}" class="btn btn-small"><i class="icon-trash"></i></a>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12" style="max-height:200px;overflow-y:scroll;">
        <p>{{=XML(record.what, sanitize=False)}}</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span1">
        <small><strong>{{= T('Priority')}}</strong></small>
        <div>
            {{= field_rep(db.task.priority, record.priority, record)}}
        </div>  
    </div>
    <div class="span2">
        <small><strong>{{= T('User Task')}}</strong></small>
        <div>
            {{= field_rep(db.task.user_task, record.user_task, record)}}
        </div>
    </div>
    <div class="span4">

    </div>
    <div class="span5">
        <div class="pull-right">
            <div class="muted">
                {{
                pretty_date = prettydate(record.created_on, T)
                author_name = '%(first_name)s %(last_name)s' % db.auth_user[record.created_by]
                author_name = A(author_name, _href=URL(c='default', f='report', vars=dict(author=author_name) ))
                }}
                <small>{{=T('Created %s') % pretty_date}}</small>
                <small>{{=XML( T(' by %s') % author_name )}}</small>
            </div>      

            <div class="muted">
                {{
                pretty_date = prettydate(record.updated_on, T)
                author_name = '%(first_name)s %(last_name)s' % db.auth_user[record.updated_by]
                author_name = A(author_name, _href=URL(c='default', f='report', vars=dict(author=author_name) ))
                }}
                <small>{{=T('Updated %s') % pretty_date}}</small>
                <small>{{=XML( T(' by %s') % author_name )}}</small>
            </div>      
        </div>
    </div>
</div>

{{= LOAD(f='task_detail_form.load', args=[record.id], ajax=True)}}

<hr/>

{{if has_test:}}
{{include 'tasks/tests_frame.html'}}
{{pass}}


{{include 'attachments/attachments_frame.html'}}

<hr/>
    
{{include 'comments/comments_frame.html'}}
