			<!-- begin tab waiting test -->
			<div id="tab_waiting_test" class="tab-pane">
				<div id="waiting_test_list">
					{{if len(waiting_test):}}
					<div class="row-fluid">
						<div class="span6">
							<strong>{{= T('What?')}}</strong>
						</div>
						<div class="span1">
							<strong>{{= T('Status')}}</strong>
						</div>
						<div class="span1">
							<strong>{{= T('Test')}}</strong>
						</div>
						<div class="span1">
							<strong>{{= T('Release')}}</strong>
						</div>
						<div class="span3">
						</div>
					</div>

					{{for row in waiting_test:}}
					<div class="row-fluid">
						<div class="span6">
							<p>{{= XML(row.what, sanitize=False)}}</p>
						</div>
						<div class="span1">
							<p>{{= my_represent_field(db.task.status, row.status, row)}}</p>
						</div>
						<div class="span1">
							<p>{{= my_represent_field(db.task.test_status, row.test_status, row)}}</p>
						</div>
						<div class="span1">
							<p>{{= my_represent_field(db.task.test_release, row.test_release, row)}}</p>
						</div>
						<div class="span3">
							<div class="pull-right">
								<a href="{{= URL(c='tasks', f='tests.html', args=[row.id])}}" class="btn btn-small"><i class="icon-check"></i>&nbsp;{{= T('Test')}}</a>

								<a href="{{= URL(c='tasks', f='task_detail.html', args=[row.id])}}" class="btn btn-small"><i class="icon-eye-open"></i></a>
								<a href="{{= URL(c='tasks', f='task.html', args=['edit', row.id])}}" class="btn btn-small edit-task"><i class="icon-pencil"></i></a>
								<a href="{{= URL(c='tasks', f='task.html', args=['remove', row.id])}}" class="btn btn-small"><i class="icon-trash"></i></a>
							</div>
						</div>
					</div>
					{{pass}}
					{{else:}}
					<div class="row-fluid">
						<p>{{= T('No task to test')}}</p>
					</div>
					{{pass}}
				</div>
			</div>
			<!-- end tab waiting test -->

