{{extend 'layouts/form.html'}}

{{ 
owner_table = record.owner_table
owner_key  = record.owner_key
}}

{{if record.owner_table == 'solicitation':}}
    {{= LOAD(f='solicitation_preview.load', vars=dict(oplink=record.owner_key), ajax=True)}}    
    <hr/>
{{pass}}

{{
next_url = URL(c='tasks', f='tests.html', args=[next_test.id]) if next_test else None
}}


<div class="row-fluid">
    <div class="span1">
        <small><strong>{{= T('Priority')}}</strong></small>
        <div>
            {{= field_rep(db.task.priority, record.priority, record)}}
        </div>  
    </div>
    <div class="span2">
        <small><strong>{{= T('User Task')}}</strong></small>
        <div>
            {{= field_rep(db.task.user_task, record.user_task, record)}}
        </div>
    </div>
    <div class="span4">
        <small><strong>{{= T('Test Release')}}</strong></small>
        <div>
            {{= field_rep(db.task.test_release, record.test_release, record)}}
        </div>
    </div>
    <div class="span5">
        <small><strong>{{= T('Test Status')}}</strong></small>
        <div>
            {{=  field_rep(db.task.test_status, record.test_status, record)}}
        </div>
        <h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <small><strong>{{= T('Task')}}</strong></small>
        <p>{{=XML(record.what, sanitize=False)}}</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <small><strong>{{= T('Task Note')}}</strong></small>
        <p>{{=XML(record.note, sanitize=False)}}</p>
    </div>
</div>
<hr/>

{{= form.custom.begin}}
<div class="row-fluid">
    <div class="span9">
        <small><strong>{{= T('Test Note')}}</strong></small>
        {{= form.custom.widget.note}}
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span12">
                <small><strong>{{= T('Test Result')}}</strong></small>
                {{= form.custom.widget.test_result}}
            </div>
        </div>
        <div class="row-fluid">
            <input type="submit" value="{{= T('Post')}}" class="btn btn-small btn-success">
            {{if next_url:}}
                <a href="{{= next_url}}" class="btn btn-small">
                    {{= T('Next')}} <i class="icon-arrow-right"></i></a>
            {{pass}}
        </div>
    </div>
</div>

{{if next_url:}}
    <input name="_next" type="hidden" value="{{= next_url}}">
{{pass}}

{{= form.custom.end}}

<hr/>
{{if has_test:}}
{{include 'tasks/tests_frame.html'}}
{{pass}}


{{include 'attachments/attachments_frame.html'}}

<hr/>
    
{{include 'comments/comments_frame.html'}}
