{{extend 'layouts/form.html'}}


<a href="javascript:void(0);" id="a-activity" class="btn btn-info"><i class="fa fa-user"></i></a>     

<style type="text/css">

.popover {
    width:400px;
    height:350px;
    max-height: 350px;
}

#todo_list {
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

#todo_form {
    padding-left: 4px;
    padding-top: 4px;
}

#todo_form #no_table_content {
    width: 224px;
}

#todo_form #no_table_url {
    width: 156px;
}

#todo_form input[type=submit] {
    width: 56px;
}
</style>

<div id="div-activity" class="hide">

    <div class="tabbable">
        <ul class="nav nav-tabs" style="margin-bottom:4px;">
            <li class="active"><a href="#tab1" data-toggle="tab">ToDo</a></li>
            <li><a href="#tab2" data-toggle="tab">Msg</a></li>
            <li><a href="#tab3" data-toggle="tab">Notify</a></li>
        </ul>        
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div id="todo-content">
                {{= LOAD(c='activity', f='todo_box.load')}}
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <p>Howdy, I'm in Section 2.</p>
            </div>
            <div class="tab-pane" id="tab3">
                <p>Howdy, I'm in Section 3.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {

    function make_popover(is_show) {
        $('#a-activity').popover({
            trigger: 'manual',
            html: true,
            placement: 'bottom',
            content: function() {
                return $('#div-activity').html();
            },
        });
        
        if(is_show) {
            $('#a-activity').popover('show');
        }
    }

    make_popover(false);

    $('#a-activity').click(function (e) {
        e.preventDefault();
        $(this).popover('show'); 
    });


    $('body').on('click', function (e) {
        $('#a-activity').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });
});
</script>