{{extend 'layouts/basic.html'}}

<style type="text/css">

@media only screen and (max-width: 800px) {
  
  /* Force table to not be like tables anymore */
  .web2py_table table, 
  .web2py_table thead, 
  .web2py_table tbody, 
  .web2py_table th, 
  .web2py_table td, 
  .web2py_table tr { 
    display: block; 
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  .web2py_table thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  .web2py_table tr { border: 1px solid #ccc; }
 
  .web2py_table td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
  }
 
  .web2py_table td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;    
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  .web2py_table td:nth-of-type(1):before { content: "First Name"; }
  .web2py_table td:nth-of-type(2):before { content: "Last Name"; }
  .web2py_table td:nth-of-type(3):before { content: "Job Title"; }
  .web2py_table td:nth-of-type(4):before { content: "Favorite Color"; }
  .web2py_table td:nth-of-type(5):before { content: "Wars of Trek?"; }
  .web2py_table td:nth-of-type(6):before { content: "Porn Name"; }
  .web2py_table td:nth-of-type(7):before { content: "Date of Birth"; }
  .web2py_table td:nth-of-type(8):before { content: "Dream Vacation City"; }
  .web2py_table td:nth-of-type(9):before { content: "GPA"; }
  .web2py_table td:nth-of-type(10):before { content: "Arbitrary Data"; }
}
</style>

<style type="text/css">

.popover {
    width:400px;
    height:350px;
    max-height: 350px;
}

#todo_form {
    padding-left: 4px;
    padding-top: 4px;
}

#todo_form>form {
    margin-bottom: 0px;
}

#todo_form #no_table_content {
    width: 224px;
}

#todo_list {
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

#todo_list div.todo-item {
    position: relative;
    margin-bottom: 2px;
    padding-left: 2px;
}

#todo_list div.todo-item div.todo-options {
    position: absolute;
    opacity: 0;
    left: 184px;
    top: 3px;
}

#todo_list div.todo-item:hover div.todo-options {
    opacity: 1;
}

#todo_list p.alert {
    margin-bottom: 4px;
    margin-top: 0;
    color: #675100;
    border-width: 0;
    border-left-width: 5px;
    padding: 4px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-color: #9cb4c5;
    color: #305d8c;
    background: #d6dde7;
}

div.onx-navbar {
    background: #474544;
    padding: 8px;
    position: relative;
}

div.onx-navbar .pull-left span {
    margin-left: 4px;
}

div.onx-navbar .label {
    background: #474544;
    display: block;
    color: #bfbfbf;
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 0;
    text-align: left;
}

div.onx-navbar .brand {
    color: #bfbfbf;
    font-family: 'Cuprum', sans-serif;
    font-size: 24pt;
    font-weight: 800;
    text-shadow: 1px 1px 1px black;
}

div.onx-navbar .brand small {
    font-size: 12pt;
    font-weight: 400;
}

div.onx-navbar .logo {
    padding: 10px;
    margin-bottom: 4px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 44px;
}

div.onx-navbar .span2 {
    margin-left: 12px;
}
</style>


<div class="onx-navbar">
    <div class="row-fluid">
        <div class="span3 logo">
            {{= response.logo}}
        </div>
        <div class="span2">
            <span class="label">{{= T('Project')}}</span>
            <div class="btn-group">
                <a href="javascript:void(0);" 
                    class="btn btn-small"
                    style="width:100px;"
                    data-toggle="dropdown">
                    <i class="fa fa-caret-right"></i>
                    {{pname = session.get('project', 'activity') }}
                    {{= response.projects[pname][0] }}
                </a>
                <ul class="dropdown-menu">
                {{for pname in response.projects:}}
                    {{caption, index_page, admin_required = response.projects[pname]}}
                    {{if not admin_required or auth.has_membership(role='admin'):}}
                    <li><a href="{{= index_page}}">{{= caption}}</a></li>
                    {{pass}}
                {{pass}}
                </ul>
            </div>
        </div>
        <div class="span7">
            <div class="row-fluid">
                <div class="span5"></div>


                <div class="span7">
                    <div class="pull-right">
                        <!-- begin search menu -->
                        <div class="pull-left">
                            <form>
                                <select id="menu_search" style="width:150px;">
                                    <option></option>
                                    {{for m in response.menu:}}
                                    <option>{{= m[0] }}</option>
                                    {{pass}}
                                </select>
                            </form>
                        </div>
                        <!-- end search menu -->                    

                        <!-- begin activity button -->
                        <div class="pull-left">
                            <span>
                                <a href="javascript:void(0);" 
                                    class="btn btn-inverse" 
                                    id="a-activity">
                                    <i class="fa fa-flag"></i>
                                </a>
                            </span>
                        </div>
                        <!-- end activity button -->

                        <!-- begin user menu -->
                        <div class="pull-left">
                            <span>
                                <div class="btn-group">
                                    <a href="{{= URL(c='user', f='user', args=['profile'])}}" 
                                        class="btn btn-inverse">
                                        <i class="fa fa-user"></i>
                                        <span></span>
                                        {{= auth.user.first_name}}
                                    </a>
                                    <a href="javascript:void(0);" 
                                        class="btn btn-inverse"
                                        data-toggle="dropdown">
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{= URL(c='user', f='user', args=['profile'])}}">
                                            <i class="fa fa-user"></i>
                                            {{= T('Profile')}}</a>
                                            </li>
                                        <li><a href="{{= URL(c='user', f='user', args=['change_password'])}}">
                                            <i class="fa fa-lock"></i>
                                            {{= T('Password')}}</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="{{= URL(c='user', f='user', args=['logout'])}}">
                                            <i class="fa fa-power-off"></i>
                                            {{= T('Logout')}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </span>
                        </div>
                        <!-- end user menu -->

                        <!-- begin full screen button #screenfull.min.js -->
                        <div class="pull-left">
                            <span>
                                <a href="javascript:void(0);" 
                                    class="btn btn-inverse" 
                                    data-action="launchFullscreen" 
                                    title="{{= T('Full Screen')}}">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </span>
                        </div>
                        <!-- end full screen button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="div-activity" class="hide">

    <div class="tabbable">
        <ul class="nav nav-tabs" style="margin-bottom:4px;">
            <li class="active"><a href="#tab1" data-toggle="tab-activity-todo">{{= T('To-Do')}}</a></li>
            <li><a href="#tab2" data-toggle="tab-activity-msg">Msg</a></li>
            <li><a href="#tab3" data-toggle="tab-activity-notify">Notify</a></li>
        </ul>        
        <div class="tab-content">
            <div class="tab-pane active" id="tab-activity-todo">
                <div id="todo-content">
                </div>
            </div>
            <div class="tab-pane" id="tab-activity-msg">
                <p>Msg no implemented.</p>
            </div>
            <div class="tab-pane" id="tab-activity-notify">
                <p>Notify no implemented</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {

    $('#a-activity').popover({
        trigger: 'manual',
        html: true,
        placement: 'bottom',
        content: function() {
            return $('#div-activity').html();
        },
    });

    $('#a-activity').click(function (e) {
        e.preventDefault();
        web2py_component("{{= URL(c='activity', f='todo_box.load') }}","todo-content");
        $(this).popover('show'); 
    });

    $("#menu_search").select2({
        placeholder: "{{= T('Search action')}}...",
    });

    $('body').on('click', function (e) {
        $('#a-activity').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });
});
</script>