<!-- BEGIN DIALOG MODAL -->
<div id="dialog_modal" 
	class="modal hide fade" 
	tabindex="-1" 
	role="dialog" 
	aria-labelledby="dialog_modal-label" 
	aria-hidden="true"
	style="width:750px;margin-left:-350px;">
	<div class="modal-header">
		<div class="row-fluid">
			<div class="span8">
				<h3 id="dialog_modal-label">Dialog Caption...</h3>
			</div>
			<div class="span4">
				<div class="pull-right">
					<button type="button" class="btn btn-mini btn-inverse" data-dismiss="modal" aria-hidden="true"><i class="icon-remove icon-white"></i></button>
		    	</div>
			</div>
		</div>		
  	</div>
  	<div id="dialog_modal-form" class="modal-body">
    	form not create...	
  	</div>
  	<div id="dialog_modal-footer" class="modal-footer">
    	<span></span>
  	</div>
</div>
<!-- END DIALOG MODAL -->